trigger:
  batch: true
  branches:
    include:
      - main

variables:
- name: registry
  value: 'nexus.ad.redshiftent.com'
- name: pool
  value: 'Redshift-AzureVMSS-x64'

stages:
- stage: Build_Omni_Infra_Provider
  displayName: 'Build Omni Infra Provider - vSphere'
  jobs:
  - job: build
    displayName: 'Build Omni Infra Provider'
    pool:
      name: ${{variables.pool}}
    steps:
    - task: Docker@2
      displayName: 'Docker Login'
      inputs:
        command: 'login'
        containerRegistry: 'Nexus-DockerRegistry-Redshift-CICD'
    - task: CMake@1
      inputs:
        cmakeArgs: 'image-omni-infra-provider-vsphere REGISTRY=$(variables.registry) USERNAME="redshift" PUSH=true'